ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


h1 {
  text-align:center;
}
h3 {
  text-align:center;
}
.center {
  margin-left: 525px;
}
table, th, td {
  border: 1px solid black;
}

